.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    display: flex;
    background-color: var(--gray-20);
    color: white;
    width: 700px;
    border-radius: 10px;
    margin: 25px auto;
}

.img {
    border-radius: 10px 0 0 10px;
}

.description {
    margin: 20px;
}

.lastKnowLocationTitle {
    font-size: 16px;
    line-height: 18px;
    color: rgb(158, 158, 158);
    margin: 5px;
}

.lastKnowLocationResult {
    font-size: 18px;
    line-height: 24px;
    margin: 5px;
}

.statusBox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
}

.status {
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 50%;
}

.aliveStatus {
    background: rgb(85, 204, 68);
}

.deadStatus {
    background: rgb(214, 61, 46);
}

.unknownStatus {
    background: rgb(194, 191, 191);
}


.previousPage {
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: var(--main-text-color);
    text-decoration: none;
    font-size: 24px;
    width: 200px;
    text-align: center;
    border-radius: 5px;

    &:hover {
        color: var(--main-text-color);
        background-color: gainsboro;
        cursor: pointer;
    }
}
