.mainContainer {
    margin-top: 250px;
}

.title {
    margin: 0;
    color: rgb(32, 35, 41);
    font-weight: 900;
    font-size: 100px;
    text-align: center;
}

.linkContainer {
    display: flex;
    justify-content: center;
}

.link {
    border: 2px solid rgb(32, 35, 41);
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(32, 35, 41);
    text-decoration: none;
    font-size: 24px;
    width: 200px;
    text-align: center;

    &:hover {
        color: rgb(32, 35, 41);
        background-color: white ;
    }
}
